<div class="row">
  {% for product in collections.frontpage.products limit:10 %}
    {% assign grid_item_width = 'large--one-third medium--one-half' %}
    {% include 'product-grid-item' %}
  {% else %}
    <div class="column col-xs-12 col-md-4">
      <a
        href="{{ product.url | within: collection }}"
        class="ProductThumb"
        style="background-image: url(
          {{ product.featured_image.src | img_url: 'large' }}
        )">
      </a>
      <p class="mt2 mb5">
        <a href="{{ product.url | within: collection }}">
          {{ product.title }} — {{ product.price | money }}
        </a>
      </p>
    </div>
  {% endfor %}
</div>
